*{
    /* font-family: 'Courier New', Courier, monospace; */
    box-sizing: border-box;
}
.sign{
    position:relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    }
.formBx-signup .form h2{
    margin-left: 50px;
    animation: ani 3s infinite;
    width: 15%;
}
.formBx-signup{
    position: relative;
    width: 720px;
    height: 1050px;
    border-radius: 8px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s;
    overflow: hidden;
}
.form{
    position: absolute;
    padding: 15px;
    z-index: 10;
}
@keyframes ani{
    0%,100%{
        color: pink;
        border-bottom: 1px solid pink;
    }
    50%{
        color: rgba(255, 80, 112, 0.984);
        border-bottom: 1px solid rgba(255, 80, 112, 0.984);
    }
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.formBx-signup::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 50px;
    background: linear-gradient(0deg,transparent,#45f3ff,#453fff);
    animation: animate 5s infinite;
}
.formBx-signup::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 50px;
    background: linear-gradient(0deg,transparent,#45f3ff,#453fff);
    animation: animate 5s infinite;
    animation-delay: -2.5s;
}
label{
    color: #fff;
}
.formBx-signup label{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.formBx-signup input{
    padding: 5px 5px 10px;
    width: 100%;
    background: #262c37;
    outline: none;
    border:none;
    border-radius: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 300;
}
.formBx-signup .form span{
    position: absolute;
    left: 10px;
    padding: 5px 10px 10px;
    font-size: 0.85em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    transform: translateY(-15px);
}
.formBx-signup input{
    color: #fff;
}
.formBx-signup input[type="submit"]{
    color: #fff;
}
.formBx-signup p{
    color: #fff;
}
 .formBx-signup p .login{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #262c37;
    transition: 0.5s;
}
.formBx-signup p .login:hover{
    background: #fff;
    color: #262c37;
}
.heart{
    width: 100px;
    height: 100px;
    transform: rotate(40deg);
    transform-origin: center;
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 .heart::before, .heart::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 .heart::before{
    left: -50px;
 }
 .heart::after{
    top: -50px;
 }
.heart1{
    bottom: 150px;
    right: -105px;
    width: 90px;
    height: 90px;
    transform: rotate(40deg);
    transform-origin: center;
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
 .heart1::after,.heart1::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 .heart1::before{
    left: -50px;
 }
 .heart1::after{
    top: -50px;
 }
 .text12{
    /* justify-content: center; */
    /* text-align: center; */
    transform: scale(1.4);
    color: #03a9f4;
    font-size: 15px;
 }
@media (max-width:991px){
    .formBx-signup{
        height: 1650px;
    }
}